<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753233818082-1mnm8ssseuu250n2ghan0fp0knn1s32v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753233818082-1mnm8ssseuu250n2ghan0fp0knn1s32v</string>
	<key>API_KEY</key>
	<string>AIzaSyBSz7-DqydKgz2NohNWZcrTg16sPFLpvXs</string>
	<key>GCM_SENDER_ID</key>
	<string>753233818082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.courts</string>
	<key>PROJECT_ID</key>
	<string>ssmartcampus</string>
	<key>STORAGE_BUCKET</key>
	<string>ssmartcampus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753233818082:ios:cdb477b78e6a2853f849bb</string>
</dict>
</plist>